// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "nvidia-vr-bmc-e5010-core.dtsi"
#include <dt-bindings/leds/common.h>

/ {
    model = "AST2600 VR200NVL BMC";
    compatible = "aspeed,ast2600";

	aliases {
		serial2 = &uart3;
		serial4 = &uart5;
        i2c70   = &i2c70;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200n8 earlyprintk";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vga_memory: framebuffer@9f000000 {
			no-map;
			reg = <0x9f000000 0x01000000>; /* 16M */
		};


		ramoops@a0000000 {
			compatible = "ramoops";
			reg = <0xa0000000 0x100000>; /* 1MB */
			record-size = <0x10000>; /* 64KB */
			max-reason = <2>; /* KMSG_DUMP_OOPS */
		};

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;	/* 32M */
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

    power-gpios{
        n2-gpios = <&gpio0 ASPEED_GPIO(N, 2) (GPIO_ACTIVE_HIGH|GPIO_PULL_UP)>;
        n3-gpios = <&gpio0 ASPEED_GPIO(N, 3) (GPIO_ACTIVE_HIGH|GPIO_PULL_UP)>;
    };

    leds {
        compatible = "gpio-leds";
        uid_led {
                gpios = <&exp7 10 GPIO_ACTIVE_LOW>;
        };
        fault_led {
                gpios = <&exp7 12 GPIO_ACTIVE_LOW>;
        };
        power_led {
                gpios = <&exp7 8 GPIO_ACTIVE_LOW>;
        };
    };

    buttons {
        power-btn {
            gpio = <&exp7 9 GPIO_ACTIVE_LOW>;
        };
        uid-btn {
            gpio = <&exp7 11 GPIO_ACTIVE_LOW>;
        };
    };

    standby_power_regulator: standby-power-regulator {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "standby_power";
		gpio = <&gpio0 ASPEED_GPIO(M, 3) GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
	};
};

// Enabled Primary flash on FMC for bring up activity
&fmc {
    status = "okay";
    flash@0 {
        status = "okay";
        compatible = "jedec,spi-nor";
        label = "bmc";
        spi-max-frequency = <50000000>;
#include "aspeed-bmc-nvidia-gh-flash-layout-64.dtsi"
    };
};

&fmcraw {
    status = "okay";
    spidev@0 {
        compatible = "mctp-spi";
        alert-gpio = <&gpio0 ASPEED_GPIO(R, 1) GPIO_ACTIVE_HIGH>;
        interrupt-parent = <&gpio0>;
        interrupts = <&gpio0 ASPEED_GPIO(R, 1) GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&spi1raw {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi1_default>;
    spidev@0 {
        spi-max-frequency = <25000000>;
        compatible = "hgx,glacier";
        status = "okay";
    };
};

&spi2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi2_default>;

    // Data SPI is 64MB in size
    flash@0 {
        status = "okay";
        label = "config";
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            u-boot-env@0 {
                reg = <0x0 0x40000>;            // 256KB at offset 0
                label = "u-boot-env";
            };

            rwfs@40000 {
                reg = <0x40000 0x1000000>;      // 16MB at offset 0x40000
                label = "rwfs";
            };

            log@0x1040000 {
                reg = <0x1040000 0x2800000>;    // 40MB at offset 0x1040000
                label = "log";                  // Move log to EMMC, make this unused
            };
        };
    };
};

&uart1 {
        status = "okay";
};

&uart3 {
        //Enabling SOL
        status = "okay";

};

&uart5 {
    // BMC Debug Console
    status = "okay";
};

&uart_routing {
       status = "okay";
};

// MAC1 (per schematics, 1-based MAC1-MAC4) of AST2600 connected to external PHY
// This is "mac0" in zero-based DTS
&mdio0 {
    status = "okay";
    ethphy0: ethernet-phy@0 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0>;
    };

};

&mac0 {
    status = "okay";
    pinctrl-names = "default";
    phy-mode = "rgmii-rxid";
    max-speed = <1000>;
    phy-handle = <&ethphy0>;
    pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&mac2 {
    status = "okay";
    phy-mode = "rmii";
    use-ncsi;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_rmii3_default>;
};


// Enable emmc
&emmc_controller {
    status = "okay";
};

&emmc {
    non-removable;
    pinctrl-0 = <&pinctrl_emmcg5_default>;
    bus-width = <4>;
    max-frequency = <52000000>;
    clk-phase-mmc-hs200 = <9>, <225>;
};

/*
 * Enable USB port A as device (via the virtual hub) to host
 */
&vhub {
    status = "okay";
    pinctrl-names = "default";
    /*
        Uncomment below line to enable internal EHCI controller
        Current config uses xHCI Port1
    */
    // pinctrl-0 = <&pinctrl_usb2adp_default>;
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

// USB 2.0 to HMC, on USB Port B
&ehci1 {
    status = "okay";

    hub@1 {
        reg = <1>;
        hub@2 {
            reg = <2>;
            hub@1 {
                reg = <1>;
                device@1 {
                    reg = <1>;
                    cp2112: interface@1 {
                        reg = <1 1>;

                        gpio-controller;
                        interrupt-controller;
                        #gpio-cells = <2>;
                        #interrupt-cells = <2>;

                        i2c70: i2c {
                            #address-cells = <1>;
                            #size-cells = <0>;

                            exp16: pca9555@50 {
                                compatible = "nxp,pca9555";
                                reg = <0x50>;
                                gpio-controller;
                                #gpio-cells = <2>;

                                #address-cells = <1>;
                                #size-cells = <0>;
                                interrupt-controller;
                                #interrupt-cells = <2>;
                                interrupt-parent = <&cp2112>;
                                interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

                                gpio-line-names =
                                    "CPU0_IROT_RECOVERY_L-I",
                                    "CPU0_IROT_FATAL_ERR_L-I",
                                    "CPU0_OVERT_L-I",
                                    "CPU0_SOC_THERM_WARN_L-I",
                                    "SOC_OVERT_L-I",
                                    "MCU_CPU0_CHIPTHROT_L-I",
                                    "CPU0_SOCAMM0_PRSNT_L-I",
                                    "CPU0_SOCAMM1_PRSNT_L-I",
                                    "CPU0_SOCAMM2_PRSNT_L-I",
                                    "CPU0_SOCAMM3_PRSNT_L-I",
                                    "CPU0_SOCAMM4_PRSNT_L-I",
                                    "CPU0_SOCAMM5_PRSNT_L-I",
                                    "CPU0_SOCAMM6_PRSNT_L-I",
                                    "CPU0_SOCAMM7_PRSNT_L-I",
                                    "MCU_HPM_CPU0_SSIF_ALERT_L-I",
                                    "MCU_RECOVERY_L-I";
                            };
                            exp17: pca9555@51 {
                                compatible = "nxp,pca9555";
                                reg = <0x51>;
                                gpio-controller;
                                #gpio-cells = <2>;

                                #address-cells = <1>;
                                #size-cells = <0>;
                                interrupt-controller;
                                #interrupt-cells = <2>;
                                interrupt-parent = <&cp2112>;
                                interrupts = <1 IRQ_TYPE_LEVEL_LOW>;

                                gpio-line-names =
                                    "CPU0_UPHY_PRSNT0_L-I",
                                    "CPU0_UPHY_PRSNT1_L-I",
                                    "CPU0_UPHY_PRSNT2_L-I",
                                    "UPHY1_MCIO0_PERST_R_L-I",
                                    "UPHY2_MCIO0_PERST_R_L-I",
                                    "UPHY2_MCIO2_PERST_R_L-I",
                                    "UPHY0_MCIO2_PERST_R_L-I",
                                    "UPHY3_MCIO1_PERST_R_L-I",
                                    "T_SENSOR_ALERT_L-I",
                                    "MCU_GLOBAL_WP_FRU-O",
                                    "OOB_MUX_CTRL0-O",
                                    "OOB_MUX_CTRL1-O",
                                    "HPM_CPU0_OOB_SPI_CS0_L-O",
                                    "HPM_CPU0_OOB_SPI_CS1_L-O",
                                    "WP_MCU_IN-I",
                                    "MCU_I2C_RTC_ALERT_L-I";
                            };
                            exp18: pca9555@52 {
                                compatible = "nxp,pca9555";
                                reg = <0x52>;
                                gpio-controller;
                                #gpio-cells = <2>;

                                #address-cells = <1>;
                                #size-cells = <0>;
                                interrupt-controller;
                                #interrupt-cells = <2>;
                                interrupt-parent = <&cp2112>;
                                interrupts = <2 IRQ_TYPE_LEVEL_LOW>;

                                gpio-line-names =
                                    "CPU_CEM_WAKE_L-I",
                                    "MCU_THERM_OVERT_L-I",
                                    "MCU_THERM_WARN_L-I",
                                    "MCU_HEARTBEAT-I",
                                    "MCU_GLOBAL_WP_CPU01-I",
                                    "NVBUF_LOS_L-I",
                                    "LEAK_DETECT_L-I",
                                    "vLeakDetect1Status0-I",
                                    "vLeakDetect1Status1-I",
                                    "vLeakDetect2Status0-I",
                                    "vLeakDetect2Status1-I",
                                    "HPM_IOX_ALERT_L-I",
                                    "MCU_BMC_ALERT-I",
                                    "MCU_USER_STRAP-I",
                                    "HPM_MCU_OK-I",
                                    "MCU_HMC_ALERT_L-I";
                            };
                            exp19: pca9555@53 {
                                compatible = "nxp,pca9555";
                                reg = <0x53>;
                                gpio-controller;
                                #gpio-cells = <2>;

                                #address-cells = <1>;
                                #size-cells = <0>;
                                interrupt-controller;
                                #interrupt-cells = <2>;
                                interrupt-parent = <&cp2112>;
                                interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

                                gpio-line-names =
                                    "PS_DDR_VDDP_PG_CPLD_RST_L-I",
                                    "PS_DVDD_PG_CPLD_PSEQ_FAULT_R-I",
                                    "VR_VCC_PG_CPLD_READY-I",
                                    "CPLD_PROGRAM-I",
                                    "INPUT_12V_VALID_IN-I",
                                    "IOX_RUN_POWER_EN-I",
                                    "MODULE_PWR_GOOD-I",
                                    "PS_1V8_PGOOD-I",
                                    "PS_3V3_PGOOD-I",
                                    "PS_UPHY_CVDD_PGOOD-I",
                                    "PS_C2CLLI_PGOOD-I",
                                    "PS_DDR_VDDQ_PGOOD-I",
                                    "PS_C2CVDD_PGOOD-I",
                                    "MOD0_PEX_RESET_L-I",
                                    "M2_ALERT_L-I",
                                    "TRAY_FAST_SHDN_L-I";
                            };
                            exp20: pca9555@54 {
                                compatible = "nxp,pca9555";
                                reg = <0x54>;
                                gpio-controller;
                                #gpio-cells = <2>;

                                #address-cells = <1>;
                                #size-cells = <0>;
                                interrupt-controller;
                                #interrupt-cells = <2>;
                                interrupt-parent = <&cp2112>;
                                interrupts = <4 IRQ_TYPE_LEVEL_LOW>;

                                gpio-line-names =
                                    "PS_HVDD_1V2_PG_JTAG-I",
                                    "PS_CPU_PG_JTAG_TMS-I",
                                    "PS_SOC_PG_JTAG_TDO-I",
                                    "PS_MSS_PG_JTAG_TDI-I",
                                    "PS_C2CLPI_PG_JTAG_TRST-I",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "",
                                    "";
                            };
                        };
                    };
                };
            
            };
        };
    };
};

// USB 1.0
&uhci {
   status = "okay";
};

// I2C1, SSIF IPMI interface
&i2c0 {
    status = "okay";
    clock-frequency = <400000>;
    disable-master = <1>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C2
// BMC_I2C1_FPGA - Secondary FPGA
// HMC EROT
&i2c1 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C3
// BMC_I2C0_FPGA - Primary FPGA
// HMC FRU EEPROM
&i2c2 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C4
&i2c3 {
    status = "ok";
    clock-frequency = <400000>;
};

// I2C5
// RTC Driver
// IO Expander
&i2c4 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C6
// Module 0/1 I2C MUX x3
&i2c5 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C7
// Module 0/1 Leak Sensors
// Module 0/1 Fan Controllers
&i2c6 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C8
&i2c7 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C9
// M.2
&i2c8 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C10
// HMC IO Expander
// Module 0/1 IO Expanders
&i2c9 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C11
// BMC FRU EEPROM
// BMC Temp Sensor
&i2c10 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;
    // BMC FRU EEPROM - 256 bytes
    eeprom@50 {
        compatible = "atmel,24c02";
        reg = <0x50>;
        pagesize = <8>;
    };
};

// I2C12
&i2c11 {
    status = "ok";
    clock-frequency = <400000>;
};

// I2C13
&i2c12 {
    status = "ok";
    clock-frequency = <400000>;
};

// I2C14
// Module 0 UPHY3 SMBus
&i2c13 {
    status = "ok";
    clock-frequency = <400000>;
};

// I2C15
// Module 1 UPHY3 SMBus
&i2c14 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C16
&i2c15 {
    status = "okay";
    clock-frequency = <400000>;
};

// PCIe RC
&pcie {
    status = "okay";

    interrupts = <GIC_SPI 168 IRQ_TYPE_LEVEL_HIGH>;

    pcie_intc0: legacy-interrupt-controller {
                    interrupts = <GIC_SPI 168 IRQ_TYPE_EDGE_RISING>;
    };
};

// Bridge between AHB bus and PCIe RC.
&h2x {
    status = "okay";
};

&mctp {
    status = "okay";
};

&jtag0 {
    status = "okay";
};

&jtag1 {
    status = "okay";
};

&rng {
    status = "okay";
};

