// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "nvidia-vc-bmc-256-core.dtsi"
#include <dt-bindings/i2c/i2c.h>

/ {
    model = "AST2600 Vera256 BMC";
    compatible = "aspeed,ast2600";

	aliases {
		serial2 = &uart3;
		serial4 = &uart5;
		i2c16	= &i2c_usbhub;
		i2c17	= &i2c_tpm;
		i2c18	= &i2c_dp;
		i2c60	= &e1s_ssd0_i2c;
		i2c61	= &e1s_ssd1_i2c;
		i2c70	= &i2c70;
		i2c72	= &i2c72;
		i2c73	= &i2c73;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200n8 earlyprintk";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vga_memory: framebuffer@9f000000 {
			no-map;
			reg = <0x9f000000 0x01000000>; /* 16M */
		};


		ramoops@a0000000 {
			compatible = "ramoops";
			reg = <0xa0000000 0x100000>; /* 1MB */
			record-size = <0x10000>; /* 64KB */
			max-reason = <2>; /* KMSG_DUMP_OOPS */
		};

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;	/* 32M */
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

    power-gpios{
        n2-gpios = <&gpio0 ASPEED_GPIO(N, 2) (GPIO_ACTIVE_HIGH|GPIO_PULL_UP)>;
        n3-gpios = <&gpio0 ASPEED_GPIO(N, 3) (GPIO_ACTIVE_HIGH|GPIO_PULL_UP)>;
    };

    standby_power_regulator: standby-power-regulator {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "standby_power";
		gpio = <&gpio0 ASPEED_GPIO(M, 3) GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};
};

// Enabled Primary flash on FMC for bring up activity
&fmc {
    status = "okay";
    flash@0 {
        status = "okay";
        compatible = "jedec,spi-nor";
        label = "bmc";
        spi-max-frequency = <50000000>;
#include "aspeed-bmc-nvidia-gh-flash-layout-64.dtsi"
    };
};

&fmcraw {
    status = "okay";
    spidev@0 {
        compatible = "mctp-spi";
        alert-gpio = <&gpio0 ASPEED_GPIO(R, 1) GPIO_ACTIVE_HIGH>;
        interrupt-parent = <&gpio0>;
        interrupts = <&gpio0 ASPEED_GPIO(R, 1) GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&spi1raw {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi1_default>;
    spidev@0 {
        spi-max-frequency = <25000000>;
        compatible = "hgx,glacier";
        status = "okay";
    };
};

&spi2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi2_default>;

    // Data SPI is 64MB in size
    flash@0 {
        status = "okay";
        label = "config";
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            u-boot-env@0 {
                reg = <0x0 0x40000>;            // 256KB at offset 0
                label = "u-boot-env";
            };

            rwfs@40000 {
                reg = <0x40000 0x1000000>;      // 16MB at offset 0x40000
                label = "rwfs";
            };

            log@0x1040000 {
                reg = <0x1040000 0x2800000>;    // 40MB at offset 0x1040000
                label = "log";                  // Move log to EMMC, make this unused
            };
        };
    };
};

&uart1 {
        status = "okay";
};

&uart3 {
        //Enabling SOL
        status = "okay";

};

&uart5 {
    // BMC Debug Console
    status = "okay";
};

&uart_routing {
       status = "okay";
};

// MAC1 (per schematics, 1-based MAC1-MAC4) of AST2600 connected to external PHY
// This is "mac0" in zero-based DTS
&mdio0 {
    status = "okay";
    ethphy0: ethernet-phy@0 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0>;
    };

};

&mac0 {
    status = "okay";
    pinctrl-names = "default";
    phy-mode = "rgmii-rxid";
    max-speed = <1000>;
    phy-handle = <&ethphy0>;
    pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&mac2 {
    status = "okay";
    phy-mode = "rmii";
    use-ncsi;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_rmii3_default>;
};


// Enable emmc
&emmc_controller {
    status = "okay";
};

&emmc {
    non-removable;
    pinctrl-0 = <&pinctrl_emmcg9_default>;
    bus-width = <8>;
    max-frequency = <200000000>;
    clk-phase-mmc-hs200 = <9>, <225>;
};

/*
 * Enable USB port A as device (via the virtual hub) to host
 */
&vhub {
    status = "okay";
    pinctrl-names = "default";
    /*
        Uncomment below line to enable internal EHCI controller
        Current config uses xHCI Port1
    */
    // pinctrl-0 = <&pinctrl_usb2adp_default>;
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

/*
 * Enable USB port B as host to downstream USB hubs
 */
&ehci1 {
    status = "okay";

    hub@1 {
        reg = <1>;

        // BF4 physical CP2112
        hub@1 {
            reg = <1>;
            hub@4 {
                reg = <4>;
                device@1 {
                    reg = <1>;
                    interface@1 {
                        reg = <1 1>;
                        i2c73: bf4_sma_i2c: i2c {
                            #address-cells = <1>;
                            #size-cells = <0>;
                        };
                    };
                };

                bf4_cp2112: device@2 {
                    reg = <2>;
                    gpio-controller;
                    #gpio-cells = <2>;
                    interrupt-controller;
                    #interrupt-cells = <2>;

                    gpio-line-names =
                        "BF4_USB_MCU_RECOVERY_L",
                        "BF4_USB_MCU_RST_L",
                        "BF4_USB_FORCE_FNP_L",
                        "BF4_GLOBAL_WP",
                        "BF4_FORCE_POR_L",
                        "BF4_BMC_EROT_RST_L",
                        "BF4_BMC_EROT_RECOVERY_L",
                        "BF4_THERM_SHUTDOWN";

                    i2c72: bf4_i2c: i2c {
                        #address-cells = <1>;
                        #size-cells = <0>;
                    };
                };
            };
        };

        // HPM MCU virtual CP2112 and LSTP
        hub@2 {
            reg = <2>;
            device@4 {
                reg = <4>;
                cp2112: interface@1 {
                    reg = <1 1>;

                    gpio-controller;
                    interrupt-controller;
                    #gpio-cells = <2>;
                    #interrupt-cells = <2>;

                    i2c70: i2c {
                        #address-cells = <1>;
                        #size-cells = <0>;

                        exp9: pca9555@50 {
                            compatible = "nxp,pca9555";
                            reg = <0x50>;
                            gpio-controller;
                            #gpio-cells = <2>;

                            #address-cells = <1>;
                            #size-cells = <0>;
                            interrupt-controller;
                            #interrupt-cells = <2>;
                            interrupt-parent = <&cp2112>;
                            interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

                            gpio-line-names =
                                "CPU0_IROT_RECOVERY_L_3V3-I",
                                "CPU0_IROT_FATAL_ERR_L_3V3-I",
                                "CPU0_OVERT_L-I",
                                "C0_THERM_WARN_N-I",
                                "C0_S0_THERM_OVERT_N-I",
                                "CPU0_CHIPTHROT_L-I",
                                "C0_SOCAMM_0_ID_PRSNT_N_1V8-I",
                                "C0_SOCAMM_1_ID_PRSNT_N-I",
                                "C0_SOCAMM_2_ID_PRSNT_N-I",
                                "C0_SOCAMM_3_ID_PRSNT_N-I",
                                "C0_SOCAMM_4_ID_PRSNT_N-I",
                                "C0_SOCAMM_5_ID_PRSNT_N-I",
                                "C0_SOCAMM_6_ID_PRSNT_N-I",
                                "C0_SOCAMM_7_ID_PRSNT_N-I",
                                "MCU_JTAG_BYPASS_CPU0_S-O",
                                "MCU_JTAG_BYPASS_CPU0-O";
                        };
                        exp10: pca9555@51 {
                            compatible = "nxp,pca9555";
                            reg = <0x51>;
                            gpio-controller;
                            #gpio-cells = <2>;

                            #address-cells = <1>;
                            #size-cells = <0>;
                            interrupt-controller;
                            #interrupt-cells = <2>;
                            interrupt-parent = <&cp2112>;
                            interrupts = <1 IRQ_TYPE_LEVEL_LOW>;

                            gpio-line-names =
                                "CPU1_IROT_RECOVERY_L_3V3-I",
                                "CPU1_IROT_FATAL_ERR_L_3V3-I",
                                "CPU1_OVERT_L-I",
                                "C1_THERM_WARN_N-I",
                                "C1_S0_THERM_OVERT_N-I",
                                "CPU1_CHIPTHROT_L-I",
                                "C1_SOCAMM_0_ID_PRSNT_N-I",
                                "C1_SOCAMM_1_ID_PRSNT_N-I",
                                "C1_SOCAMM_2_ID_PRSNT_N-I",
                                "C1_SOCAMM_3_ID_PRSNT_N-I",
                                "C1_SOCAMM_4_ID_PRSNT_N-I",
                                "C1_SOCAMM_5_ID_PRSNT_N-I",
                                "C1_SOCAMM_6_ID_PRSNT_N-I",
                                "C1_SOCAMM_7_ID_PRSNT_N-I",
                                "MCU_JTAG_BYPASS_CPU1_S-O",
                                "MCU_JTAG_BYPASS_CPU1-O";
                        };
                        exp11: pca9555@52 {
                            compatible = "nxp,pca9555";
                            reg = <0x52>;
                            gpio-controller;
                            #gpio-cells = <2>;

                            #address-cells = <1>;
                            #size-cells = <0>;
                            interrupt-controller;
                            #interrupt-cells = <2>;
                            interrupt-parent = <&cp2112>;
                            interrupts = <2 IRQ_TYPE_LEVEL_LOW>;

                            gpio-line-names =
                                "COMBINED_CPU_CEM_WAKE_L-I",
                                "MCU_THERM_OVERT_N-I",
                                "MCU_THERM_WARN_N-I",
                                "PCB_T_SENSOR_ALERT_L-I",
                                "GLOBAL_WP_1V8-I",
                                "NVBUF_LOS_L-I",
                                "LEAK_DETECT_L-I",
                                "vLeakDetect1Status0-I",
                                "vLeakDetect1Status1-I",
                                "vLeakDetect2Status0-I",
                                "vLeakDetect2Status1-I",
                                "BMC_IOX_INT_L-I",
                                "MCU_BMC_ALERT_L-I",
                                "MCU_HMC_ALERT_L-I",
                                "MCU_USER_STRAP-I",
                                "HPM_MCU_OK-I";
                        };
                        exp12: pca9555@53 {
                            compatible = "nxp,pca9555";
                            reg = <0x53>;
                            gpio-controller;
                            #gpio-cells = <2>;

                            #address-cells = <1>;
                            #size-cells = <0>;
                            interrupt-controller;
                            #interrupt-cells = <2>;
                            interrupt-parent = <&cp2112>;
                            interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

                            gpio-line-names =
                                "CPLD_RESET_L-I",
                                "CPLD_PSEQ_FAULT-I",
                                "CPLD_READY-I",
                                "CPLD_PROGRAM-I",
                                "INPUT_12V_VALID_VMON_PG-I",
                                "RUN_PWR_EN_1V8-I",
                                "MODULE_PWR_GOOD_1V8-I",
                                "MCU_I2C_RTC_ALERT_L-I",
                                "SLOT_PWR_BRAKE_EN_L-I",
                                "OOB_MUX_CTRL0-O",
                                "OOB_MUX_CTRL1-O",
                                "OOB_MUX_CTRL2-O",
                                "CPU_OOB_CS0_L-O",
                                "CPU_OOB_CS1_L-O",
                                "LEAK_SELF_TEST_L_1V8-I",
                                "MCU_RECOVERY_L-I";
                        };
                        exp13: pca9555@54 {
                            compatible = "nxp,pca9555";
                            reg = <0x54>;
                            gpio-controller;
                            #gpio-cells = <2>;

                            #address-cells = <1>;
                            #size-cells = <0>;
                            interrupt-controller;
                            #interrupt-cells = <2>;
                            interrupt-parent = <&cp2112>;
                            interrupts = <4 IRQ_TYPE_LEVEL_LOW>;

                            gpio-line-names =
                                "JTAG_SEL_MCU-O",
                                "JTAG_TCK_MCU-O",
                                "JTAG_TMS_MCU-O",
                                "JTAG_TDO_MCU-I",
                                "JTAG_TDI_MCU-O",
                                "JTAG_TRST_L_MCU-O",
                                "CPU0_SSIF_ALERT_L_3V3-I",
                                "CPU1_SSIF_ALERT_L_1V8-I",
                                "USB_HMC_TO_CPU_FORCE_EN_L-O",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "";
                        };
                    };
                };

                lstp_mcu_hpm: interface@2 {
                    reg = <2 1>;
                    #address-cells = <1>;
                    #size-cells = <0>;
                };
            };
        };

        // E1.S MCU (LSTP only; CP2112 enumeration dropped in MCU FW)
        device@3 {
            compatible = "usb0955,cf11";
            reg = <3>;

            lstp_mcu: interface@1 {
                reg = <1 1>;
                #address-cells = <1>;
                #size-cells = <0>;

                e1s_ssd0_i2c: channel@1 {
                    compatible = "nvidia,lstp-i2c";
                    reg = <1>;
                    #address-cells = <1>;
                    #size-cells = <0>;
                };

                e1s_ssd1_i2c: channel@2 {
                    compatible = "nvidia,lstp-i2c";
                    reg = <2>;
                    #address-cells = <1>;
                    #size-cells = <0>;
                };
            };
        };
    };
};

// I2C1, SSIF IPMI interface
/*
 * SSIF is handled by the MCU LSTP path, not by the ASPEED I2C
 * controller acting as a direct SMBus slave. Remove this legacy
 * direct SSIF setup after bringup is complete.
 */
&i2c0 {
    status = "okay";
    clock-frequency = <400000>;
    disable-master = <1>;
    i2c-scl-clk-low-timeout-us = <128000>;
    i2c-tck-thddat-config = <0x0099EC00>;
    tout-baseclk-div = <4096>;

    ssif-bmc@10 {
        compatible = "ssif-bmc";
        status = "disabled";
        alert-gpio = <&gpio1 ASPEED_GPIO(D, 7) GPIO_ACTIVE_LOW>;
        pulse_width_us = <5>;
        timeout_ms = <4995>;
        reg = <0x10>;
    };
};

// I2C2
// MGMT1 to E1.S MCU
// IOEXP (8-pin) x1
// E1.S MCU FRU EEPROM
// E1.S MCU Temp Sensor
&i2c1 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
    multi-master;
    mctp-controller;
    // MCTP for E1.S MCU
    mctp@18 {
        compatible = "mctp-i2c-controller";
        reg = <(0x18 | I2C_OWN_SLAVE_ADDRESS)>;
    };
};

// I2C3
// MGMT0 to HPM MCU
// IOEXP (16-pin) x3
// HPM FRU EEPROM
&i2c2 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
    multi-master;
    mctp-controller;
    // MCTP for HPM MCU
    mctp@18 {
        compatible = "mctp-i2c-controller";
        reg = <(0x18 | I2C_OWN_SLAVE_ADDRESS)>;
    };
};

// I2C4
&i2c3 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C5
&i2c4 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C6
// RTC
// IOEXP (16-pin) x2
// SMM FRU EEPROM
// SMM Temp Sensor
&i2c5 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-scl-clk-low-timeout-us = <32000>;
    i2c-tck-thddat-config = <0x0099EC00>;
};

// I2C7
// Module Leak Sensors
// TPM
// IOEXP (8-pin) x1
&i2c6 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;

    i2c-mux@70 {
        compatible = "nxp,pca9546";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x70>;
        i2c-mux-idle-disconnect;

        i2c_usbhub: i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
        };

        i2c_tpm: i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;
        };

        i2c_dp: i2c@2 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <2>;
        };
    };
};

// I2C8
&i2c7 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C9
&i2c8 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C10
// Hotswap Controller
&i2c9 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;

    hsc@45 {
        compatible = "ti,lm5066i";
        reg = <0x45>;
    };
};

// I2C11
// BMC FRU EEPROM
// BMC Temp Sensor
&i2c10 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-tck-thddat-config = <0x0099EC00>;
    // BMC FRU EEPROM - 256 bytes
    eeprom@50 {
        compatible = "atmel,24c02";
        reg = <0x50>;
        pagesize = <8>;
    };
};

// I2C12
&i2c11 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C13
&i2c12 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C14
&i2c13 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C15
&i2c14 {
    status = "okay";
    clock-frequency = <400000>;
};

// I2C16
&i2c15 {
    status = "okay";
    clock-frequency = <400000>;
};

// PCIe RC
&pcie0 {
    status = "okay";

    interrupts = <GIC_SPI 168 IRQ_TYPE_LEVEL_HIGH>;
};

&mctp1 {
    status = "okay";
};

&jtag0 {
    status = "okay";
};

&jtag1 {
    status = "okay";
};

&rng1 {
    status = "okay";
};

&chassis {
	status = "okay";
};
