// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2025 ASPEED Corp.

#include "ast2700-evb.dts"

/ {
	model = "AST2700-VFF-DCSCM";

	/* Disable components from ast2700-evb */
	/delete-node/ fan0;
	/delete-node/ fan1;
	/delete-node/ fan2;
	/delete-node/ fan3;
	/delete-node/ fan4;
	/delete-node/ fan5;
	/delete-node/ fan6;
	/delete-node/ fan7;
	/delete-node/ fan8;
	/delete-node/ iio-hwmon;
};

/* Disable components from ast2700-evb */
&pwm_tach {
	status = "disabled";
};

&mdio0 {
	status = "disabled";
};

&mdio1 {
	status = "disabled";
};

&i3c0 {
	status = "disabled";
};

&i3c1 {
	status = "disabled";
};

&i3c2 {
	status = "disabled";
};

&i3c3 {
	status = "disabled";
};

&i3c6 {
	status = "disabled";
};

&i3c7 {
	status = "disabled";
};

&i3c8 {
	status = "disabled";
};

&i3c9 {
	status = "disabled";
};

&i3c10 {
	status = "disabled";
};

&i3c11 {
	status = "disabled";
};

&i3c12 {
	status = "disabled";
};

&i3c13 {
	status = "disabled";
};

&i3c14 {
	status = "disabled";
};

&i3c15 {
	status = "disabled";
};

/* Add internal-pullup for i3c4 and i3c5 */
&i3c4 {
	internal-pullup = <2>;
	initial-role = "target";
	pid = <0x000007ec 0x06014000>;
	dcr = /bits/ 8 <0xcc>;
	status = "okay";
};

&i3c5 {
	internal-pullup = <2>;
	initial-role = "primary";
	status = "okay";
};

/* AST2700 VFF DCSCM use MAC0 and MAC1 for NCSI */
&sgpios {
	status = "disabled";
};

&mac0 {
	status = "okay";

	phy-mode = "rmii";
	use-ncsi;

	pinctrl-names = "default";
	/* If you want to use RMII0 RCLKO as internal clock for RMII,
	 * add &pinctrl_rmii0_rclko_default in pinctrl-0.
	 */
	pinctrl-0 = <&pinctrl_rmii0_default>;
};

&mac1 {
	status = "disabled";
};

&syscon1 {
	mac0-clk-delay = <0 0
			  0 0
			  0 0>;
	mac1-clk-delay = <0 0
			  0 0
			  0 0>;
	assigned-clocks = <&syscon1 SCU1_CLK_MACHCLK>,
			  <&syscon1 SCU1_CLK_RGMII>,
			  <&syscon1 SCU1_CLK_RMII>;
	assigned-clock-rates = <200000000>, <125000000>, <50000000>;
};

/* AST2700 VFF DCSCM use MAC2 SGMII */
&pcie2 {
	status = "disabled";
};

&mdio2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy2: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&sgmii {
	status = "okay";
};

&mac2 {
	status = "okay";
	phy-mode = "sgmii";
	phy-handle = <&ethphy2>;
};

/* Disable Node 1 EP function */
&bmc_dev1 {
	status = "disabled";
};

&xdma1 {
	status = "disabled";
};

&pcie_vuart2 {
	status = "disabled";
};

&pcie_vuart3 {
	status = "disabled";
};

&pcie_lpc1_kcs0 {
	status = "disabled";
};

&pcie_lpc1_kcs1 {
	status = "disabled";
};

&pcie_lpc1_kcs2 {
	status = "disabled";
};

&pcie_lpc1_kcs3 {
	status = "disabled";
};

&pcie_lpc1_ibt {
	status = "disabled";
};

&pcie1_mmbi4 {
	status = "disabled";
};

&pcie1 {
	status = "okay";
	perst-rc-out-gpio = <&gpio1 ASPEED_GPIO(T, 7) GPIO_ACTIVE_HIGH>;
};

&spi1 {
	status = "disabled";
};

&spi2 {
	compatible = "aspeed,ast2700-spi-txrx";
	pinctrl-0 = <&pinctrl_spi2_default &pinctrl_spi2_cs1_default>;
	pinctrl-names = "default";
	status = "okay";

	/delete-property/ spi-aspeed-full-duplex;
	/delete-node/ tpmdev@0;

	flash@0 {
		status = "okay";
		reg = < 0 >;
		compatible = "jedec,spi-nor";
		m25p,fast-read;
		label = "spi2:0";
		spi-max-frequency = <25000000>;
	};

	tpmdev@1 {
		status = "okay";
		reg = <1>;
		compatible = "tcg,tpm_tis-spi";
		label = "spi2:1";
		spi-max-frequency = <25000000>;
	};
};
