// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;
#include "aspeed-g7.dtsi"
#include <dt-bindings/net/ti-dp83867.h>

#define DUAL_NODE 0	// 1: DUAL_NODE, 0: SINGLE_NODE
#define PCIE0_EP 1	// 1: EP, 0: RC
#define PCIE1_EP 1	// 1: EP, 0: RC
#define PCIE2_RC 1	// 1: RC, 0: SGMII

/ {
	model = "AST2700 EVB";
	compatible = "aspeed,ast2700-evb", "aspeed,ast2700";

	chosen {
		stdout-path = "serial12:115200n8";
	};

	memory@400000000 {
		device_type = "memory";
		reg = <0x4 0x00000000 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		#include "ast2700-reserved-mem.dtsi"

		video_engine_memory0: video0 {
			size = <0x0 0x02000000>;
			alignment = <0x0 0x00010000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory1: video1 {
			size = <0x0 0x02000000>;
			alignment = <0x0 0x00010000>;
			compatible = "shared-dma-pool";
			reusable;
		};

#if 0
		gfx_memory: framebuffer {
			size = <0x0 0x01000000>;
			alignment = <0x0 0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
#endif

		espi0_mcyc_memory: mcyc0 {
			size = <0x0 0x01000000>;
			alignment = <0x0 0x00010000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		#include "ast2700-reserved-mem.dtsi"

		video_engine_memory0: video0 {
			size = <0x0 0x02000000>;
			alignment = <0x0 0x00010000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory1: video1 {
			size = <0x0 0x02000000>;
			alignment = <0x0 0x00010000>;
			compatible = "shared-dma-pool";
			reusable;
		};

#if 0
		gfx_memory: framebuffer {
			size = <0x0 0x01000000>;
			alignment = <0x0 0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
#endif

		espi0_mcyc_memory: mcyc0 {
			size = <0x0 0x01000000>;
			alignment = <0x0 0x00010000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};
};

&uart12 {
	status = "okay";
};

&fmc {
	status = "okay";
	pinctrl-0 = <&pinctrl_fwspi_quad_default>;
	pinctrl-names = "default";

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
#include "aspeed-evb-flash-layout-128.dtsi"
	};

	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "fmc0:1";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	flash@2 {
		status = "disabled";
		m25p,fast-read;
		label = "fmc0:2";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_spi0_default &pinctrl_spi0_cs1_default>;
	pinctrl-names = "default";

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "spi0:0";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		status = "disabled";
		m25p,fast-read;
		label = "spi0:1";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_spi1_default &pinctrl_spi1_cs1_default>;
	pinctrl-names = "default";

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "spi1:0";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		status = "disabled";
		m25p,fast-read;
		label = "spi1:1";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

#if 1
&spi2 {
	compatible = "aspeed,ast2700-spi-txrx";
	pinctrl-0 = <&pinctrl_spi2_default>;
	pinctrl-names = "default";
	status = "okay";

	spi-aspeed-full-duplex;

	tpm0: tpmdev@0 {
		compatible = "tcg,tpm_tis-spi";
		spi-max-frequency = <25000000>;
		reg = <0>;
		status = "okay";
	};
};
#else
&spi2 {
	compatible = "aspeed,ast2700-spi";
	pinctrl-0 = <&pinctrl_spi2_default &pinctrl_spi2_cs1_default>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		status = "okay";
		reg = < 0 >;
		compatible = "jedec,spi-nor";
		m25p,fast-read;
		label = "spi2:0";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		status = "okay";
		reg = < 1 >;
		compatible = "jedec,spi-nor";
		m25p,fast-read;
		label = "spi2:1";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};
#endif

&mdio0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mdio1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		/* For DDR5 board */
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

&mac0 {
	status = "okay";

	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii0_default>;
};

&mac1 {
	status = "okay";

	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default>;
};

#if PCIE2_RC
&pcie2 {
	status = "okay";
};
#else
&mdio2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy2: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&sgmii {
	status = "okay";
};

&mac2 {
	status = "okay";

	phy-mode = "sgmii";
	phy-handle = <&ethphy2>;
};
#endif

&video0 {
	status = "okay";
	memory-region = <&video_engine_memory0>;
};

&video1 {
	status = "okay";
	memory-region = <&video_engine_memory1>;
};

#if PCIE0_EP
&bmc_dev0 {
	status = "okay";
	memory-region = <&bmc_dev0_memory>;
};

&xdma0 {
	status = "okay";
	memory-region = <&xdma_memory0>;
};

&pcie0_mmbi0 {
	status = "okay";
	memory-region = <&pcie0_mmbi0_memory>;

	bmc-int-value = /bits/ 8 <0x00>;
	bmc-int-location = <0>;
};
#else /* !PCIE0_EP */
&pcie0 {
	status = "okay";
};
#endif /* PCIE0_EP */

#if PCIE1_EP
&bmc_dev1 {
	status = "okay";
	memory-region = <&bmc_dev1_memory>;
};

&xdma1 {
	status = "okay";
	memory-region = <&xdma_memory1>;
};

&pcie1_mmbi4 {
	status = "okay";
	memory-region = <&pcie1_mmbi4_memory>;

	bmc-int-value = /bits/ 8 <0x00>;
	bmc-int-location = <0>;
};
#else /* !PCIE1_EP */
&pcie1 {
	status = "okay";
};
#endif /* PCIE1_EP */

#if 1
&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};
#endif

&mctp0 {
	status = "okay";
	memory-region = <&mctp0_reserved>;
};

&mctp1 {
	status = "okay";
	memory-region = <&mctp1_reserved>;
};

&mctp2 {
	status = "okay";
	memory-region = <&mctp2_reserved>;
};

#if 0
&soc0 {
	mbox-ssp-0 {
		compatible = "aspeed,aspeed-mbox";
		reg = <0x4 0x31480000 0x0 0x200000>, <0x0 0x10001000 0x0 0x1000>;
		mboxes = <&mbox0 0>;
		aspeed,tx-timeout = <100>;
	};
};
#endif
