// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;

#include "ast2700a1-evb.dts"

/ {
	model = "AST2700A1-CI-HOST";
};

&bmc_dev0 {
	status = "disabled";
};

&xdma0 {
	status = "disabled";
};

&pcie_vuart0 {
	status = "disabled";
};

&pcie_vuart1 {
	status = "disabled";
};

&pcie_lpc0_kcs0 {
	status = "disabled";
};

&pcie_lpc0_kcs1 {
	status = "disabled";
};

&pcie_lpc0_kcs2 {
	status = "disabled";
};

&pcie_lpc0_kcs3 {
	status = "disabled";
};

&pcie_lpc0_ibt {
	status = "disabled";
};

&pcie0_mmbi0 {
	status = "disabled";
};

&pcie0 {
	status = "okay";
};

&bmc_dev1 {
	status = "disabled";
};

&xdma1 {
	status = "disabled";
};

&pcie_vuart2 {
	status = "disabled";
};

&pcie_vuart3 {
	status = "disabled";
};

&pcie_lpc1_kcs0 {
	status = "disabled";
};

&pcie_lpc1_kcs1 {
	status = "disabled";
};

&pcie_lpc1_kcs2 {
	status = "disabled";
};

&pcie_lpc1_kcs3 {
	status = "disabled";
};

&pcie_lpc1_ibt {
	status = "disabled";
};

&pcie1_mmbi4 {
	status = "disabled";
};

&pcie1 {
	status = "okay";
};

&mdio0 {
	status = "disabled";
};

&mac0 {
	status = "disabled";
};

&mdio2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy2: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&sgmii {
	status = "okay";
};

&mac2 {
	status = "okay";

	phy-mode = "sgmii";
	phy-handle = <&ethphy2>;
};
