// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "AST2500 dgx";
	compatible = "aspeed,ast2500";

	aliases {
		serial0 = &uart1;
		serial2 = &uart3;
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200 earlyprintk";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vga_memory: framebuffer@9f000000 {
			no-map;
			reg = <0x9f000000 0x01000000>; /* 16M */
		};

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;	/* 32M */
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	leds {
		compatible = "gpio-leds";
		uid_led {
			gpios = <&gpio ASPEED_GPIO(H, 0) GPIO_ACTIVE_HIGH>;
		};
	};

    iio-hwmon-12v-stdby {              
        compatible = "iio-hwmon";
        io-channels = <&adc 1>;
    };                           
};

&gpio {
	gpio-line-names =
	/*A0-A7*/       "","","","","","","","",
	/*B0-B7*/       "dimm_spd_sel","pwrgd_p3v3","bmc_rdv_set_ok","","","","","",
	/*C0-C7*/       "","","","","","","","",
	/*D0-D7*/       "","","","","","","","",
	/*E0-E7*/       "","","","","","","","",
	/*F0-F7*/       "bmc_pwr_btn_n","latch_gpu1_thermtrip_cpld_n","","bmc_cpld_boot_n","sys_pwrok","","","",
	/*G0-G7*/       "","","","","","","","",
	/*H0-H7*/       "bmc_bios_update_n","","","","","","","",
	/*I0-I7*/       "cpu1_present_n","cpu2_bmc_present_n","","","bmc_bios_spi_cs0_n","","","",
	/*J0-J7*/       "","","bios_spi_cs_sel","bmc_ready","","","","",
	/*K0-K7*/       "","","","","","","","",
	/*L0-L7*/       "","","","","","","","",
	/*M0-M7*/       "","","","","","","","",
	/*N0-N7*/       "","","","","","","","",
	/*O0-O7*/       "","","","","","","","psu_workok",
	/*P0-P7*/       "","","psu_alert_n","","","","","psu_detect_n",
	/*Q0-Q7*/       "","","","","","","","",
	/*R0-R7*/       "","","","","","","","",
	/*S0-S7*/       "","","","","","","","",
	/*T0-T7*/       "","","","","","","","",
	/*U0-U7*/       "","","","","","","","",
	/*V0-V7*/       "","","","","","","","",
	/*W0-W7*/       "","","","","","","","",
	/*X0-X7*/       "","","","","","","","",
	/*Y0-Y7*/       "","","","","","","","",
	/*Z0-Z7*/       "","","","","","","","",
	/*AA0-AA7*/     "","","psu_ac_ok_all","","","","","",
	/*AB0-AB7*/     "","","","","","","","",
	/*AC0-AC7*/     "","","","","","","","";

};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		mx25l25635f-disable-dual-mode;
		label = "bmc";
#include "openbmc-flash-layout.dtsi"
	};
};

&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};

&spi2 {
	status = "okay";
};

&uart1 {
	// Rear COM1
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
				 &pinctrl_rxd1_default>;
};

&uart3 {
	// CPU UART1 (FIXME: SOL??)
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd3_default
				 &pinctrl_rxd3_default>;
};

&uart5 {
	// BMC Debug Console
	status = "okay";
};

&lpc_snoop {
	// SBIOS Post Code Port
	status = "okay";
	snoop-ports = <0x80>;
};

&lpc_ctrl {
	status = "okay";
};

&kcs2 {
	// KCS Channel 2
	status = "okay";
	kcs_addr = <0xca8>;
};

&kcs3 {
	// KCS Channel 3
	status = "okay";
	kcs_addr = <0xca2>;
};

&ibt {
	// Block Transfer
	status = "okay";
};

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};

&mac1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&vuart {
	status = "okay";
};

/*
 * Enable port A as device (via the virtual hub) and port B as
 * host by default on the eval board. This can be easily changed
 * by replacing the override below with &ehci0 { ... } to enable
 * host on both ports.
 */
&vhub {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&gfx {
	status = "okay";
	memory-region = <&gfx_memory>;
};

&adc {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_adc1_default>;
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&i2c1 {
    status = "okay";

    // UFRU1
    eeprom@50 {
        compatible = "atmel,24c512";
        reg = <0x50>;
        pagesize = <128>;
        size = <65536>;
    };

    // TEMP_M.2_RISER U61
    lm75@6a {
        compatible = "ti,tmp75";
        reg = <0x6a>;
    };

    // Planar Temp Sensor U60
    lm75@48 {
        compatible = "ti,tmp75";
        reg = <0x48>;
    };

    // Planar Temp Sensor U139
    lm75@49 {
        compatible = "ti,tmp75";
        reg = <0x49>;
    };

    // i2c switch - U41
    i2cswitch@70 {
        compatible = "nxp,pca9548";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x70>;

        i2c@2 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <2>;

             // TEMP_M.2_0
             lm75@4c {
                 compatible = "ti,tmp75";
                 reg = <0x4c>;
             };
        };

        // I2C_SW6_SDA
        i2c@6 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <6>;

            // M.2 FRU
            eeprom@51 {
                compatible = "atmel,24c512";
                reg = <0x51>;
                pagesize = <128>;
                size = <65536>;
            };
        };
    };
    // i2c switch - U143
    i2cswitch@73 {
        compatible = "nxp,pca9546";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x73>;
    };
};

&i2c2 {             
	status = "okay";

	// Midplane FRU
	eeprom@54 {
		compatible = "atmel,24c512";
		reg = <0x54>;
		pagesize = <128>;
		size = <65536>;
	};

	tca6507: tca6507@45 {
		compatible = "ti,tca6507";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x45>;

		gpio-controller;
		#gpio-cells = <2>;

		power_led@0 {
			reg = <0x0>;
			color = <LED_COLOR_ID_GREEN>;
		};

		fault_led@1 {
			reg = <0x1>;
			type = <LED_COLOR_ID_AMBER>;
		};
	};
};                  

// AST2500 i2c4
&i2c3 {
	status = "okay";

	// PDU FRU U7
	eeprom@55 {
		compatible = "atmel,24c512";
		reg = <0x55>;
		pagesize = <128>;
		size = <65536>;
	};

	// PDB Thermal 2 U2
	lm75@48 {
		compatible = "ti,tmp75";
		reg = <0x48>;
	};

    // 19115-1A PDB_20191018.pdf Page 3: SMB_PDB_2_* - I2C MUX U20
    /* Exclude in the device tree so MUX and PSU are accessible via SMBus
       (i.e. not owned by device tree binding drivers which makes device busy)
    i2cmux@70 {
        compatible = "nxp,pca9544";
        reg = <0x70>;

        // CNPSU4
        i2c@0 {
            reg = <0>;

            psu4@40 {
                compatible = "ericsson,bmr453";
                reg = <0x40>;
            };
        };
        // CNPSU5
        i2c@1 {
            reg = <1>;

            psu5@41 {
                compatible = "ericsson,bmr453";
                reg = <0x41>;
            };
        };
        // CNPSU6
        i2c@2 {
            reg = <2>;

            psu6@42 {
                compatible = "ericsson,bmr453";
                reg = <0x42>;
            };
        };
    };
    */
};

&i2c4 {             
    status = "okay";

    // PDB thermal 1 U1
    lm75@48 {                        
        compatible = "ti,tmp75";
        reg = <0x48>;                
    };                               

    // 19115-1A PDB_20191018.pdf Page 3: SMB_PDB_1_* - I2C MUX U19
    /* Exclude in the device tree so MUX and PSU are accessible via SMBus
       *i.e. not owned by device tree binding drivers which makes device busy)
    i2cmux@70 {
        compatible = "nxp,pca9544";
        reg = <0x70>;

       // CNPSU1
        i2c@0 {
            reg = <0>;

            psu4@40 {
                compatible = "ericsson,bmr453";
                reg = <0x40>;
            };
        };
        // CNPSU2
        i2c@1 {
            reg = <1>;

            psu5@41 {
                compatible = "ericsson,bmr453";
                reg = <0x41>;
            };
        };
        // CNPSU3
        i2c@2 {
            reg = <2>;

            psu6@42 {
                compatible = "ericsson,bmr453";
                reg = <0x42>;
            };
        };
    };
    */
};                  

&i2c5 {             
    status = "okay";

    // MB Fan U1
    max31790@20 {
        compatible = "maxim,max31790";
        reg = <0x20>;
        #address-cells = <1>;
        #size-cells = <0>;
    };

//    // GB1 Fan
//    max31790@2c {
//        compatible = "maxim,max31790";
//        reg = <0x2c>;
//    };
};                  

&i2c6 {             
    status = "okay";
};                  

&i2c7 {
	status = "okay";

	lm75@4d {
		compatible = "national,lm75";
		reg = <0x4d>;
	};
};

&i2c9 {             
    status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};
